
.root {
    -fx-background-color: #FBF6E9; /* Світло-блакитний фон */
    -fx-padding: 20px;
    -fx-font-family: 'b612';
}


.button {
    -fx-background-color: linear-gradient(to bottom, #40534C, #677D6A);
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-color: transparent;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 5, 0, 0, 2);
    -fx-cursor: hand;
    -fx-transition: all 0.3s ease;
}

.button:hover {
    -fx-background-color: linear-gradient(to bottom, #D6BD98, #D6BD98);
}

.button:pressed {
    -fx-background-color: linear-gradient(to bottom, #D6BD98, #D6BD98);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 3, 0, 0, 1);
}


.toolbar {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 1px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 4, 0, 0, 2);
    -fx-background-radius: 5px;
}


.text-field {
    -fx-background-color: #ffffff;
    -fx-border-color: #bfbfbf;
    -fx-border-width: 1px;
    -fx-padding: 5px;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 3, 0, 0, 1);
}

.text-field:focused {
    -fx-border-color: #997C70; /* Синя рамка при фокусі */
    -fx-effect: dropshadow(three-pass-box, rgba(33, 150, 243, 0.3), 3, 0, 0, 1);
}


.table-view {
    -fx-background-color: #ffffff;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.05), 5, 0, 0, 2);
}

.table-column {
    -fx-alignment: CENTER-LEFT;
    -fx-background-color: #f1f3f5;
    -fx-border-color: #dcdcdc;
    -fx-padding: 10px;
    -fx-border-radius: 5px 5px 0 0;
}

.table-cell {
    -fx-alignment: CENTER-LEFT;
    -fx-padding: 10px;
}


.table-view .placeholder {
    -fx-background-color: transparent;
    -fx-text-fill: #888888;
}


.table-view .column-header {
    -fx-background-color: linear-gradient(to bottom, #A59D84, #C1BAA1);
    -fx-text-fill: white;
    -fx-padding: 8px;
    -fx-border-radius: 5px 5px 0 0;
}


.button-danger {
    -fx-background-color: linear-gradient(to bottom, #F44336, #D32F2F);
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.button-danger:hover {
    -fx-background-color: linear-gradient(to bottom, #E57373, #C62828);
}

.button-danger:pressed {
    -fx-background-color: linear-gradient(to bottom, #D32F2F, #B71C1C);
}

